 @import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap')
 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
        font-family: 'Open Sans', sans-serif;
  
}

h1.title {
  visibility: hidden;
  font-size: 0px;
}

.my-tbl {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0);
}

div.main-container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: #0010bb;
    background-image: url('background.png');
  background-repeat: no-repeat;
     background-attachment: fixed;
        background-position: center; 
        background-size: contain;
}

.rt-thead {
  background-color: #0010bb !important;
  color: white;
}

.rt-td {
    border-top: 2px solid #f2f2f2;
}
 /* Tooltip container */
.tooltip {
  font-size: 14px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    opacity: 1 !important;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #fff;
  width: max-content;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  display: block;
  /* Position the tooltip text */
  position: relative;
  z-index: 1;
  bottom: 225%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 